.main-navigation-sitewidth.main-navigation-sitewidth-max-content {
  padding: 16px 48px;
  margin: 0 auto;
  max-width: 1680px;
}  

[data-entity="HomePage"] .brand-hero.qa-brand-hero.custom-hero-banner {
  height: 400px !important;
}
